/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "modules/base";
@import "partials/header";
@import "partials/main-content";
@import "partials/footer";

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4 {
	line-height: 1.5em;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}