footer {
	@include row();

	section {
		font-size: $base-font-size;
	}
}

#social {
	background: $primary-color;
	color: $white;
	div {
		@include col(1, 3);
	}
	div:first-of-type {
		@include col(1, 3);
	}
	div:last-of-type {
		@include col(1, 3);
	}
	a {
		color: white;
	}
}