.main-content {
	@include row();

	> section {
		padding: $base-v-padding 0;
		background: #f3f3f3;
		@include col(2, 3);
		padding-right: $base-h-padding;
		padding-left: $base-h-padding/2;
	}

	> aside {
		padding: $base-v-padding 0;
		@include col(1, 3);
		padding-left: $base-h-padding;
		padding-right: $base-h-padding/2;
	}

	h4 {
		margin-bottom: 1em;
		font-weight: 400;
		color: $primary-color;
	}
}

#work {
	@include fancy-list();
/* 	li:before {
		display: block;
		float: left;
		content: "";
		width: 25px;
		height: 25px;
		background: $primary-color;
		border-radius: 50%;
		border: 6px solid $primary-color-light;
		margin-left: -50px;
	}
	li:hover:before {
		border: 5px solid $primary-color-light;
	}
	li {
		@include row();
		border-left: 3px solid $primary-color-light;
		margin-left: 14px;
		padding-left: 36px;
	}
	.title {
		font-weight: 400;
		margin-bottom: 1em;
		font-size: $base-font-size;
		display: inline-block;
		width: 90%;
	}
	.date {
		text-align: right;
		font-weight: 400;
		font-size: $base-font-size;
		display: inline-block;
	}
	.description {
		display: inline-block;
		font-size: $base-font-size;
		width: 90%;
	} */
}

table {
	width: 100%;
}

td,
th {
	padding: 10px 5px 10px 0;
	text-align: left;
}

th {
	width: 30%;
	font-weight: 400;
}

td {
	font-weight: 300;
	width: 70%;
}

.personal td,
.personal th {
	border-bottom: 1px solid #bdbdbd;
}

#education {
	@include table-list;
}