@mixin row() {
	// Fix for unwanted space between inline cols
	font-size: 0px;
}

@mixin col($cols, $total-cols) {
	box-sizing: border-box;
	display: inline-block;
	font-size: $base-font-size;
	width: percentage($cols / $total-cols);
/* 	@if $first {
		padding-left: $base-h-padding;
		padding-right: $base-h-padding / 2;
	} @else if $last {
		padding-left: $base-h-padding / 2;
		padding-right: $base-h-padding;		
	} @else {
		padding-left: $base-h-padding / 2;
		padding-right: $base-h-padding / 2;
	}
	padding-top: $base-v-padding;
	padding-bottom: $base-v-padding; */
	vertical-align: top;
}